body {font-family: 'Roboto';font-size: 14px; letter-spacing: .5px;}
.bg-blue-grey {background-color:#253b4d;}
.text-grey {color:#b7b7b7;}
.footer a:link, a:visited {color: #b7b7b7;}
.footer a:hover, a:active {text-decoration: none;color:#fff;}

// .footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//   }