<h1>Auth</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/auth" routerLinkActive="active">Home</a></li>
  </ul>
  <ul *ngIf="!user">
    <li><a routerLink="singin" routerLinkActive="active">SingIn</a></li>
    <li><a routerLink="singup" routerLinkActive="active">SingUp</a></li>
  </ul>
  <ul *ngIf="user">
    <li><a [routerLink]="['/user',user.id]">Profile</a></li>
    <li><button (click)="authLogOut()">LogOut</button></li>
    <h1>{{user.name}} {{user.lastName}}</h1>
    <div *ngIf='user.imageProfile != ""'>
      <img src="{{user.imgProfile}}" alt="" width="45">
    </div>
    <div *ngIf='user.imageProfile == ""'>
      <img src="https://us.123rf.com/450wm/pikepicture/pikepicture1612/pikepicture161200525/68824654-hombre-defecto-marcador-de-posici%C3%B3n-de-avatar-perfil-gris-de-imagen-aislado-en-el-fondo-blanco-para-su-.jpg?ver=6" alt="" width="45">
    </div> 
  </ul>
</nav>

<router-outlet></router-outlet>