<app-navbar [user]="user"></app-navbar>

<div class="container">
  <h1>Angular Router App</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit nesciunt, eius ratione magni vitae suscipit. Nobis eaque ipsum est voluptates numquam facere optio quibusdam libero distinctio consectetur iste perferendis corporis culpa, dolore ratione illo, repellendus vitae molestias. Deleniti incidunt provident sit aut possimus, ipsa iusto alias quaerat, velit dicta nesciunt id ducimus. Itaque, tempora libero sint voluptas laudantium ullam? Nobis in eos sunt aliquam eum delectus accusantium ab quod id. Minima natus soluta enim eveniet tenetur fugiat nostrum optio. Voluptatem dolor, aut iusto repellendus velit repudiandae unde voluptas facilis omnis amet sint perspiciatis corporis soluta. Cum impedit ut magnam.</p>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>